::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background:  #d6d6c2;

}

.logo{
    height: 80px;
    padding: 2px 14px 0px 10px !important;
    margin: 10px !important;
}

body {
    scrollbar-base-color: #C0C0C0;
    scrollbar-base-color: #C0C0C0;
    scrollbar-3dlight-color: #C0C0C0;
    scrollbar-highlight-color: #C0C0C0;
    scrollbar-track-color: #EBEBEB;
    scrollbar-arrow-color: black;
    scrollbar-shadow-color: #C0C0C0;
    scrollbar-dark-shadow-color: #C0C0C0;
}

nav{
    background-color: #006B43 !important;
}

nav.nav-extended .nav-content{
    margin-left: 200px !important;
    width: 78em;
/*    border: solid;*/
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i{
    line-height: 34px !important;
}

.crumbs{
/*    border: solid;*/
    margin-left: 30px !important;
    width: 500px !important;
}

.dropdown-content li>a, .dropdown-content li>span{
    color: black !important;
}



.tabs{
    width: 74% !important;
}
/*.indicator{
    border: solid black 1px;
}*/

.hide-on-med-and-down{
/*   border: solid !important;*/
/*    padding-bottom: 0px !important;*/
    padding-left: 50px !important;
    margin-right: 50px !important;
    padding-right: 50px;
    
}

.hide-on-med-and-down > li{
/*    border-right: solid white 1px;*/
    font-size: 50px;
}

.hide-on-med-and-down > li > a{
    font-size: 10px;
}

#namanyay-search-btn {
background:#0099ff;
color:white;
font: 'trebuchet ms', trebuchet;
padding:10px 20px;
border-radius:0 5px 5px 0;
-moz-border-radius:0 5px 5px 0;
-webkit-border-radius:0 5px 5px 0;
-o-border-radius:0 5px 5px 0;
border:0 none;
font-weight:bold;
}
 
#namanyay-search-box {
background: #eee;
-moz-border-radius:5px 0 0 5px;
-o-border-radius:5px 0 0 5px;
border:0 none;
width:300px;
height: 33px;
color: black;
 }
 
 .pesquisa{
     
/*   padding-top: 60px !important;
     padding-right: 300px;*/
     
 }
 .namanyay-search-btn{
     width: 50px;
     margin: 0px 0px -14px 0px;
 }

 button{
     height: 32px !important;
 }
 
 .btn{
     padding: 0 0.5rem !important;
     background-color: transparent !important;
 }
 
 .iconLogin{
     height: 20px;
 }
 
 .container{
/*     border: solid black 1px;*/
 }
 